@font-face {
    font-family: Roboto;
    src: url('/assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: RobotoBlack;
    src: url('/assets/fonts/Roboto/Roboto-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: RobotoBlackItalic;
    src: url('/assets/fonts/Roboto/Roboto-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: RobotoBold;
    src: url('/assets/fonts/Roboto/Roboto-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: RobotoBold;
    src: url('/assets/fonts/Roboto/Roboto-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: RobotoLight;
    src: url('/assets/fonts/Roboto/Roboto-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: RobotoLightItalic;
    src: url('/assets/fonts/Roboto/Roboto-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: RobotoMedium;
    src: url('/assets/fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 600;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body main {
    margin: 0px 0px;
    overflow: auto;
}

a {
    font-family: Roboto;
}

.AboutTJ h2 {
    font-family: RobotoMedium;
    font-size: 32px;
}

.AboutTJ p {
    margin-bottom: 10px;
    font-family: Roboto;
    font-size: 20px;
}

.DesktopNav .speech-bubble-about::after,
.DesktopNav .speech-bubble-work::after,
.DesktopNav .speech-bubble-blog::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 25px solid white;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.fadeOut {
    visibility: none;
    opacity: 0;
    transition: opacity 250ms;
    pointer-events: none;
}

.fadeIn {
    opacity: 1;
    transition: opacity 250ms;
    pointer-events: none;
}

@keyframes floating {
    0% { transform: translate(0, 0px); }
    50% { transform: translate(0, 15px); }
    100% { transform: translate(0, -0px); }
}

@media (min-width: 1024px) {
    .DesktopNav .speech-bubble-about,
    .DesktopNav .speech-bubble-work,
    .DesktopNav .speech-bubble-blog {
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        transition-property: all;
        transition-duration: 250ms;
    }

    .DesktopNav .speech-bubble-about:hover,
    .DesktopNav .speech-bubble-work:hover,
    .DesktopNav .speech-bubble-blog:hover {
        animation-play-state: paused;
    }

    .DesktopNav .speech-bubble-about {
        animation-delay: -2s;
    }

    .DesktopNav .speech-bubble-work {
        animation-delay: -1s;
    }

    .DesktopNav .speech-bubble-about {
        animation-delay: -3s;
    }
}
