<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Trevor Jarrett</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link href="/assets/index.css" rel="stylesheet">
</head>
    <body class='bg-sky-400'>
        <main class='w-full h-screen'>
            <nav class='flex flex-col items-center gap-y-20 pt-5'>
                <a href='#' class='speech-bubble-about bg-white relative text-center rounded-full w-36 h-24 flex flex-col justify-center'>
                    <span class='z-10 relative'>About</span>
                </a>

                <div class='flex w-full justify-evenly'>
                    <a href='#' class='speech-bubble-work bg-white relative text-center rounded-full w-36 h-24 flex flex-col justify-center'>
                        <span class='z-10 relative'>Work</span>
                    </a>
                    <a href='#' class='speech-bubble-blog bg-white relative text-center rounded-full w-36 h-24 flex flex-col justify-center'>
                        <span class='z-10 relative'>Blog</span>
                    </a>
                </div>
            </nav>

            {# Cartoon Trevor #}
            <section class='relative w-full flex flex-col'>
                <div class='min-h-[45vh] h-full'>&nbsp;</div>

                <svg class='w-full' viewBox="0 0 421 625" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                    <g transform="matrix(1,0,0,1,-85.7675,-69.0466)">
                        <g id="Cartoon-Me" serif:id="Cartoon Me" transform="matrix(0.764068,0,0,0.7073,157.141,-113.707)">
                            <g id="Shirt" transform="matrix(2.57594,0,0,2.70645,-288.777,-264.029)">
                                <path d="M75.966,519.47C75.883,511.955 75.56,455.229 76.467,383.477C76.647,369.226 289.09,370.37 289.273,383.836C289.72,416.566 289.273,519.336 289.273,519.336C289.273,519.336 75.26,519.478 75.966,519.47Z"/>
                            </g>
                            <g id="Neck" transform="matrix(3.6021,0,0,3.74597,-469.318,-624.663)">
                                <path d="M140,368C140,374.654 140.022,379.459 140,384.961C139.968,392.981 161.057,399.25 180,399.658C198.656,400.06 219.891,391.33 220,384.961C220.122,377.821 220,373.654 220,368" style="fill:rgb(240,178,167);"/>
                            </g>
                            <g id="Neck-shadow" serif:id="Neck shadow" transform="matrix(2.68427,0,0,3.047,-305.488,-307.043)">
                                <ellipse cx="182.5" cy="359.23" rx="47.5" ry="25.73" style="fill:rgb(239,165,152);"/>
                            </g>
                            <g id="Face" transform="matrix(3.51919,0,0,3.08688,-548.727,-356.699)">
                                <ellipse cx="206" cy="301" rx="59" ry="91" style="fill:rgb(240,178,167);"/>
                            </g>
                            <g id="Beard" transform="matrix(3.06052,0,0,3.73769,-367.903,-638.081)">
                                <path d="M120,365C123.333,370.333 132.565,381.376 141,387C149.5,392.667 161.333,397.333 171,399C180.221,400.59 190.333,399.5 199,397C207.667,394.5 216.024,389.84 223,384C230.167,378 237.833,365.667 242,361C243.734,359.058 241.667,353.5 240,354C238.333,354.5 235.497,361.552 232,364C227,367.5 212.143,380.718 200,384C187.667,387.333 158,384 158,384C158,384 147.255,376.777 142,373C136.667,369.167 126,361 126,361C126,361 122,354.333 121,355C120,355.667 118.225,362.159 120,365Z" style="fill:rgb(52,39,31);"/>
                            </g>
                            <g id="Mustache-A" serif:id="Mustache A" transform="matrix(2.39317,-0.508025,0.40201,2.04806,-394.694,66.5057)">
                                <path d="M187.401,323.842C187.401,327.259 189,333.333 192,336.5C195,339.667 202.667,340.417 206,342C208.171,343.031 210.667,344 212,346C213.333,348 213,352.833 214,354C214.894,355.043 218.612,355.319 219,354C219.833,351.167 219.469,339.064 216,335C210.167,328.167 207.212,331.872 200,326C196.703,323.316 197.667,321 192,316C191.054,315.166 188.148,315.309 187.401,316.853C186.606,318.496 187.401,322.456 187.401,323.842Z" style="fill:rgb(52,39,31);"/>
                            </g>
                            <g id="Mustache-A1" serif:id="Mustache A" transform="matrix(-2.39026,-0.52263,-0.413567,2.04557,766.759,70.3082)">
                                <path d="M187.401,323.842C187.401,327.259 189,333.333 192,336.5C195,339.667 202.667,340.417 206,342C208.171,343.031 210.667,344 212,346C213.333,348 213,352.833 214,354C214.894,355.043 218.612,355.319 219,354C219.833,351.167 219.469,339.064 216,335C210.167,328.167 207.212,331.872 200,326C196.703,323.316 197.667,321 192,316C191.054,315.166 188.148,315.309 187.401,316.853C186.606,318.496 187.401,322.456 187.401,323.842Z" style="fill:rgb(52,39,31);"/>
                            </g>
                            <g id="Glasses" transform="matrix(2.3357,0,0,2.3357,-262.972,-117.064)">
                                <path d="M110.033,253.839C109.962,252.976 119.821,251.888 128.251,251.458C143.889,250.662 165.596,250.077 180.861,254.227C189.245,256.506 196.291,256.136 203.694,254.227C222.572,249.357 249.951,249.734 260.855,251.541C263.771,252.024 273.035,253.564 273.033,254.227C273.029,256.078 273.033,262.959 273.033,262.959C273.033,262.959 269.588,266.457 267.687,274.25C265.407,283.602 262.956,295.413 256.539,297.887C250.95,300.043 244.033,301.014 234.345,301.327C227.095,301.562 221.613,300.37 217.73,298.858C209.795,295.766 203.564,286.203 200.783,277.512C198.867,271.524 197.635,269.883 195.932,267.81C193.951,265.401 189.365,264.822 186.97,267.675C185.349,269.607 183.573,273.37 182.142,277.279C178.229,287.969 172.944,294.685 169.218,296.917C163.12,300.571 160.587,301.448 146.784,301.157C139.888,301.012 129.758,301.119 123.617,295.947C118.831,288.768 117.573,281.514 115.936,273.528C114.834,268.151 110.033,263.929 110.033,263.929C110.033,263.929 110.045,253.979 110.033,253.839ZM203.176,261.24C201.534,265.184 204.232,271.831 205.302,276.051C207.559,284.96 211.952,292.107 215.789,294.228C219.456,296.254 222.319,297.326 224.821,297.891C228.614,298.747 231.578,298.439 235.252,298.526C239.686,298.632 241.969,298.377 249.329,297.177C251.748,296.783 253.728,295.608 255.569,294.228C264.209,287.754 263.479,264.119 260.42,258.329C259.469,256.528 255.426,254.69 254.818,254.473C251.214,253.181 241.899,253.016 235.977,253.15C233.393,253.208 224.69,253.286 213.334,255.017C211.193,255.343 204.612,257.793 203.176,261.24ZM179.536,261.24C181.177,265.184 178.479,271.831 177.41,276.051C175.153,284.96 170.76,292.107 166.922,294.228C163.256,296.254 160.393,297.326 157.891,297.891C154.098,298.747 151.134,298.439 147.46,298.526C143.026,298.632 140.743,298.377 133.382,297.177C130.964,296.783 128.984,295.608 127.143,294.228C118.503,287.754 119.233,264.119 122.291,258.329C123.243,256.528 127.286,254.69 127.894,254.473C131.498,253.181 140.812,253.016 146.735,253.15C149.319,253.208 158.022,253.286 169.378,255.017C171.519,255.343 178.1,257.793 179.536,261.24Z"/>
                            </g>
                            <g id="Hair" transform="matrix(3.10541,0,0,3.10541,-394.056,-244.467)">
                                <path d="M153.132,191.127C139.581,205.022 142.544,203.753 138.989,209.969C135.711,215.7 132.838,223.708 131.8,228.425C127.98,245.79 132.729,275.547 131.225,277.804C132.729,290.59 131.743,327.256 131.911,331.918C132.079,336.601 131.976,342.003 131.838,345.975C131.725,349.242 134.101,378.53 134.101,378.53L131.766,394.184C131.766,394.184 130.798,393.917 131.703,413.432C131.71,413.589 127.074,419.968 125.942,420.209C123.661,420.696 117.798,419.148 115.054,418.049C106.399,414.582 109.253,395.386 109.253,395.386C109.253,395.386 108.785,355.575 108.05,341.973C107.54,332.527 104.976,294.008 107.014,276.706C108.724,262.19 105.478,229.095 111.934,216.125C116.782,206.387 116.495,203.786 122.633,194.803C126.288,189.453 127.33,183.117 134.249,179.961C136.494,178.937 145.04,173.701 147.191,172.607C152.17,170.074 159.414,167.058 165.124,166.232C171.473,165.314 185.444,160.645 191.983,162.266C196.301,163.336 213.018,164.901 218.14,169.598C223.468,174.484 226.182,174.542 231.726,179.376C243.776,189.883 255.809,216.303 259.948,228.425C265.466,244.586 259.511,250.851 263.9,270.659C264.88,275.084 264.055,308.44 264.055,308.44L264.38,327.685L263.025,342.547C263.025,342.547 263.025,373.336 262.273,373.336C263.777,394.395 263.025,404.269 263.025,404.269C263.025,406.812 264.611,425.393 251.824,423.426C242.046,421.922 236.265,422.863 237.769,409.325C237.769,394.282 238.187,379.032 238.187,379.032L239.751,355.79L239.522,334.689C239.522,334.689 242.726,285.754 240.431,263.064C239.407,252.932 239.466,227.16 234.817,217.895C230.99,210.269 221.838,195.198 217.857,189.496C214.462,184.634 206.264,184.918 198.638,182.252C191,179.582 177.136,184.423 168.266,184.004" style="fill:rgb(52,39,31);"/>
                            </g>
                        </g>
                    </g>
                </svg>
            </section>

            {# Hello My Name is... #}
            <section class='bg-black px-4 py-10'>
                <div class='bg-red-500 w-full rounded-lg shadow-xl mb-10 max-w-[323px] mx-auto md:h-1/2 lg:h-[200px]'>
                    <h1 class='flex flex-col text-center'>
                        <span class='flex flex-col mb-2'>
                            <span class='uppercase text-white text-[80px] leading-none'>Hello</span>
                            <span class='text-white leading-none text-[40px]'>my name is</span>
                        </span>

                        <span class='bg-white text-black text-[35px] mb-10'>Trevor Jarrett</span>
                    </h1>
                </div>
            </section>

            <div class='bg-black'>
                <svg viewBox="0 0 1099 446" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                    <g transform="matrix(1,0,0,1,9.19942,-184.462)">
                        <g id="_x30__10_" transform="matrix(1.02991,0,0,1.02991,-15.9958,-8.33709)">
                            <path class='fill-white' d="M129.3,521.9L129,520L127.4,518.5L127.1,516.7L127.4,514.9L129,513.5L129.3,511.9L129,510.3L127.4,508.901L127.1,507.1L127.4,505.3L129,503.901L129.3,502.3L129,500.8L127.4,499.3L127.1,497.5L127.4,495.7L129,494.2L129.3,492.4L129,490.5L127.4,489L127.1,487.2L127.4,485.4L129,484L129.3,482.4L129,480.8L127.4,479.401L127.1,477.6L127.4,475.8L129,474.401L129.3,472.8L129,471.2L127.4,469.7L127.1,464.7L154.3,464.3L153.6,459.5L175.1,459.5L174.5,429.6L209.4,429.201L209.4,411.6L214.4,411.201L214.8,410.501L214.8,408.101L214.2,407.402L204.1,406.502L203.8,406.002L204.2,405.502L220.5,404.902L221.6,354.002L222.7,404.902L232.7,404.902L233.4,393.502L233.8,393.102L234.3,393.502L234.9,404.902L254.2,404.902L253.8,375.101L254.3,375.801L255,404.9L272.4,405.5L272.7,406L272.5,406.5L262.4,407.4L261.7,408.099L261.7,410.499L262.1,411.199L267.2,411.598L267.2,429.298L306.1,429.298L306.1,462.498L312.1,462.798L312.6,463.198L312.901,464.698L313.501,465.097L318.901,465.797L319.401,466.597L319.1,470L318.5,470.4L316.5,471.2L316.1,472.5L316.5,473.9L319.1,475.799L319.5,477.699L319.1,479.399L318.5,479.999L316.5,480.699L316.1,482.399L316.5,484.098L318.5,484.798L319.1,485.198L319.5,487.198L319.1,489.198L318.5,489.597L317,489.9L316.4,490.4L316.099,491.9L316.799,493.7L318.4,495.099C320.099,495.499 322.299,496.099 324.099,496.299C325.7,496.499 327.799,496.4 329.499,496.4L329.499,447.8L336.699,447.3L335.399,338.5L345.899,338.5L345.499,331L344.799,329.7L344.199,329.3L343.899,328.5L344.298,327.8L345.899,327.1L346.499,325.701L347.199,326.801C347.399,328.501 347.699,330.902 347.699,332.601C347.799,334.402 347.499,336.702 347.299,338.501L359.699,338.501L358.598,330.401L359.098,329.8L360.998,329.8L361.498,330.401L360.398,338.501L371.6,338.501L372.5,332.201L373.2,338.901L374.7,331.501L375.099,338.501L390.4,338.501L388.3,451.4L399.5,451.4L400.5,490.9L401.8,491.2L402.901,491.099L403.6,490.599L404.3,484.7L404.901,484.099L405.6,483.9L406.1,483.5L408.1,388.5L409,390.2L409.4,390.2L409.799,389.599L411.199,374.999L417.699,374.299L418.299,373.699L418.699,371.499C420.299,369.999 422.598,368.199 424.098,366.599C425.498,365.099 427.098,362.9 428.399,361.4L444.598,360.7C446.098,362.4 448.098,364.9 449.699,366.599C451.199,368.2 453.299,369.999 454.899,371.499L455.298,373.799L455.798,374.299L462.899,374.699L463.6,389.6L464,390.201L464.8,389.701L465.5,387.6L466.3,387.201C466.3,387.201 467.901,464.201 468,468.301C468,471.701 467.9,476.402 468.2,479.801C468.3,481.601 468.8,483.801 469,485.501C469.1,487.301 469.1,489.801 469.1,491.601C469.1,491.601 470.1,523.301 470.401,533.902L470.8,534.601L471.3,534.801L472,534.601L472.6,534.101L473.3,529.601L473.8,529.001L475.401,528.701L475.901,528.1L476.701,522.1L477.501,521.6L481.901,521.3L486.1,490.2L485.5,489L485.4,485.8L486.099,485.901L486.799,485.6C487.999,482.8 489.799,479.201 490.9,476.3C492,473.5 493.099,469.5 494.099,466.6C493.7,465.201 493.4,463.3 492.999,462C492.499,460.6 491.499,459 490.799,457.7L491.199,457.5L493.199,458.4L493.699,458.299L497.098,405.799C497.098,405.799 497.598,400.4 497.699,400.199C497.799,399.499 498.399,398.699 498.598,397.999C498.598,397.999 498.899,393.099 498.899,391.399L497.699,391.098L497,390.4L496.6,389.5L496.8,388.8L497.2,388.8L497.7,389.8L498.5,389.8L499.3,389L499.901,386.6L501.901,387.901L503.901,386.6L502.401,392.8C506.701,422.3 507.001,432.3 508.501,458.8L511.501,457.401L511.801,457.701C511.801,457.701 507.902,462.6 508.601,467.801C509.301,472.701 515.902,486.001 515.902,486.001L517.202,485.801L517.1,489L516.3,489.9L515.9,490.8L519.7,520.3L520.2,521.1L525.9,522L526.7,528.1L527.2,528.701L528.8,529.001L529.3,529.601L530,533.902L530.8,534.801C530.9,507.4 531.9,352.2 531.9,352.2C531.9,341 531.599,326 531.7,314.8C531.7,314.8 533,274.4 533.4,264.3L535.299,263.8L535.999,263.2L536.699,254.7L537.199,253.9L538.799,253.5L539.299,252.8L540.099,246.1L540.9,245.6L544.7,245.1L545.9,240.8L556.599,228.6L561.2,228.6L561.2,187.2L564.2,187.2L564.2,228.6L573,228.6L573,187.2L575.9,187.2L575.9,228.6L579.4,228.6L589.799,240.9L591.299,245.1L595.099,245.6L595.999,246.1L596.699,252.8L597.199,253.5L598.899,253.9L599.399,254.7L600.098,263.2L600.699,263.8L602.699,264.3C602.699,264.3 604.999,480.6 605.598,534.7L607.7,504.1C611.1,503.4 615.6,502.2 619,501.7C622.5,501.3 627.1,501.099 630.5,500.8L632.6,474.2L633.1,473.5L633.901,473.3C636.1,471 638.901,467.7 641.3,465.6C643.7,463.401 647.2,460.901 649.7,459C652.099,460.9 655.2,463.3 657.5,465.4C659.7,467.4 662.5,470.299 664.7,472.4L668.9,500.799C668.9,500.799 679.5,500.999 680.099,501.099C680.099,501.099 686.499,502.799 691.7,504.4L693.9,534.5L694.4,534.8C694.4,534.8 695,416.7 695,410.5C702.2,401.3 702.9,399.8 707.3,387.6L707.6,395.3L729.7,395.3L730.5,388.3L731,395.5L742.9,395L754.299,411.4L754.299,534.9L758.199,534.299L758.999,533.099L759.899,514.9L765.399,514.9L765.399,494.2L775.399,494.2L775.399,410.8L786.6,410.8L786.6,371L849.9,371L849.9,434.4L858.799,434.4L858.499,441.4L857.699,442.5L856.899,443.1L856.6,444.4L856.901,445.7L857.701,446.2L858.501,447.4L858.501,453.2L857.701,454.4L856.901,454.9L856.6,456.2L856.901,457.5L857.701,458L858.501,459.2L858.501,465L857.701,466.2L856.901,466.7L856.6,468L856.901,469.3L857.701,469.8L858.501,471L858.501,476.8L857.701,478L856.901,478.5L856.6,479.8L856.901,481.1L858.3,482L858.901,485.8L857.8,489.5L856,490.8L855.5,492L856,493L858,493.7L858.5,494.3L858.5,500.7L858,501.4L855.8,502L855.7,503.6L856.099,504.701L856.9,505.401L868.9,506.1L868.9,499.4L878.9,499.4L878.9,405.7L898.9,405.7L898.9,336.3L938.9,336.3L940,303.8L940.8,304C941.7,304.9 942.901,306.2 943.901,307C944.501,307.6 945.501,308.1 946.1,308.6C946.5,309 946.901,309.6 947.201,310.1L947.701,316L942.401,312.1L941.501,312L940.901,312.7L940.001,336.3L981.301,336.3C981.301,343.2 981.101,432.6 981.001,473.901L991.501,474.6L992.201,475.3L992.001,478.1L990.701,479.201L990.1,493.501L996.901,493.201L997.6,492.901L998.401,491.6L1000.3,491.1L1000.8,490.5L1001.6,485.3L1002.4,484.7L1004.3,484.2L1004.9,483.599C1004.9,483.599 1006.4,414.499 1006.6,402.299L1007.3,401.999L1008.2,402.299L1008.7,403.299L1009,415.999L1018.1,416.299L1018.8,416.699L1019.2,418.199L1019.8,418.598L1026.2,418.598L1026.7,417.998L1026.9,415.598L1027.7,414.899L1042.3,414.098L1043.1,415.098L1043.5,418.899L1059.1,418.899C1059.1,418.899 1059,494.499 1059,498.399L1059.5,499.098L1060.7,499.399L1061.6,498.798L1063.2,465.298L1065.2,464.298L1065.9,462.399L1066.7,461.999L1073.1,462.199L1073.1,619.799L6.599,619.799L6.599,534.799L10.299,534.799L10.299,522.199L19.199,522.199L18.899,472.799L27,472.799L27,456.599L32.2,456.499L33.2,456.099L34,450L34.5,449.4L36.1,449L36.6,448.2L37,439.6L112.6,439.8L112.9,455.401L113.7,456.401L116.5,457.001L117.3,458.001L118.9,472.201L119.3,472.801L120.4,534.801L128.7,534.402L129.2,533.502L129,529.702L127.4,528.202L127.1,526.702L127.4,525.101L129,523.702L129.3,521.9Z" style="fill-rule:nonzero;"/>
                        </g>
                    </g>
                </svg>
            </div>
        </main>

        <script type="text/javascript" src="/assets/index.js"></script>
    </body>
</html>
